
    /* footer{
    color: #fff;
    background-color: #004a99;

    .container {
        display: flex;
        flex-direction: column;
        aling-items: center;
    } 

    ul{
        margin-bottom: 32px;
        flex-wrap: wrap;
        justify-content: center;
    }

    li{
        padding: 0 15px;
        margin-bottom: 16px;
    }

    a{
        font-size: 14px;
        font-weight: 500;
        color: #fff;
    }

    i{
        cursor: pointer;
        font-size: 30px;
    }

    p{
        text-align: center;
    }

  }  */